* {
	box-sizing: border-box;
}

body {
	font-family:'Roboto', sans-serif;
	font-size:18px;
}

header {
	background-color:lightgray;
	overflow:auto;
	padding-top: 10px;
	padding-bottom:10px;
}

h1 {
	font-size: 18px;
	float:left;
	padding-left:20px;
	width:50%;
	font-weight: medium;
}

.headnav{
	/* position: fixed; */
	/*background-color:lightgray;*/
	padding-left:10px;
	padding-right:10px;
	text-align: right;
	float:right;
	width:50%;
}

ul {
	display: inline-block;
	list-style: none;
}

ul a {
	text-decoration: none;
}

li {
	display:inline-block;
	padding-right: 10px;
	text-decoration: none;
}

.container {
	padding-top: 50px;
}

.search {
	margin-top: 20px;
	font-size:12pt;
}

main {
	margin:0 auto;
	width:70%;
	max-width: 960px;
}

.search img {
	width: 12px;
	height: 12px;
	margin-top: auto;
	margin-bottom:auto;
}

label {
	display:block;
	margin-bottom:5px;
}

input[type=search] {
	font-family: 'Roboto', sans-serif;
	float:left;
	font-size:18px;
	width:400px;
	height:30px;
	border:solid lightgray 1px;
	border-radius:5px;
}

input[type=image] {
	float:left;
	margin-left: 5px;
	width: 30px;
	height:30px;
	border:solid lightgray 1px;
	border-radius: 5px;
}

.resultsnav {
	padding-top:30px;
	clear:left;
}

.results {
	display:inline-block;
	margin:0 auto;
}

.rnav {
	display:inline-block;
	border:solid lightgray 1px;
	border-radius: 5px;
}

.rnav a {
	color:black;
}

.prev {
	border-right: solid lightgray 1px;
	padding: 10px 10px;
}

.current {
	padding:10px 10px;
}

.next {
	border-left: solid lightgray 1px;
	padding:10px 10px;
}

.container {
	padding-top: 30px;
}

.result {
	display:inline-block;
	margin: 5px 5px;
}

.date {
	font-weight: 300;
	color:lightgray;
	height: 30px;
	vertical-align: middle;
}

.title {
	height:30px;
	vertical-align: middle;
}

.title a {
	font-weight: bold;
	color:blue;
	text-decoration: none;
}

.location {
	font-weight: 300;
	color: lightgray;
	height: 30px;
	vertical-align: middle;
}